h1 {
    background-color: burlywood;
    color: cornflowerblue;
}

h1::after {
    content: '';
    height: 2px;
    display: block;
    background-color: crimson;
}

h1::before {
    content: '';
    height: 2px;
    display: block;
    background-color: red;
}

.search-box__wrapper label {
    margin-right: 0.5rem;
}